<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common.html :: header"></head>

<body>
<div class="container-fluid">
	<div th:replace="common.html :: navbar"></div>

	<div>
		 <h2>Manage Users</h2>
		<a th:href="@{/users/new}">Create new User</a>
	</div>
	
	<div class="alert alert-success text-center" th:if="${message != null}">[[${message}]]</div>

	<div>
		<table class="table table-bordered table-striped table-responsive-xl table-hover">
			<thead class="thead-dark">
				<tr>
					<th>User ID</th>
					<th>Photos</th>
					<th>email</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Roles</th>
					<th>Enabled</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="user:${users}">
					<td th:text="${user.id}"> </td>
					<td><span class="fas fa-portrait fa-2x icon-dark"></span> </td>
					<td th:text="${user.email}"> </td>
					<td th:text="${user.firstName}"> </td>
					<td th:text="${user.lastName}"> </td>
					<td th:text="${user.roles}"> </td>
					<td>
						<a th:if="${user.enabled == true}" th:href="@{'/users/'+${user.id}+'/enabled/false'}" class="fas fa-check-circle fa-2x icon-green" title="Disable User"></a>
						<a th:if="${user.enabled == false}" th:href="@{'/users/'+${user.id}+'/enabled/true'}" class="fas fa-circle fa-2x icon-dark " title="Enable User"></a>
					</td>
					<td>
						<a th:href="@{'/users/edit/'+${user.id}}" class="fas fa-edit fa-2x icon-green" title="Edit user"></a>
						<a th:href="@{'/users/delete/'+${user.id}}" th:userId="${user.id}" class="fas fa-trash fa-2x icon-dark link-delete" title="Delete user"></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div th:replace="common.html :: modalDialog(~{::h5},~{::#modalBody},~{::.btn})" >
		<h5 class="modal-title" id="modalTitle">Are you sure?</h5>
		<span id="modalBody">Are you sure you want to delete this user?</span>
		<a type="button" class="btn btn-success" id="confirmModal">Yes</a>
		<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
	</div>
	
	<div th:replace="common.html :: footer"></div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$(".link-delete").on("click", function(e){
			e.preventDefault();
			link = $(this);
			// alert($(this).attr("href"));
			userId = link.attr("userId");
			$("#modalBody").text("Delete User ID "+userId+"?");
			$("#confirmModal").attr("href", link.attr("href"));
			$("#modalDialog").modal('show');
		});
	});
</script>
</body>
</html>